body{
    background-color: aqua;
    font-family: Tahoma, Verdana, sans-serif, 'Segoe UI';
}

.container {  
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". prof-pic prof-info prof-info prof-info ."
      ". posts posts posts posts .";
  }
  
  .prof-pic { 
    grid-area: prof-pic; 
    display: flex;
    align-items: center;
  }
   
    #prof-pic {
      width: 100%;
      height:auto;
   }

.prof-info {
  grid-area: prof-info;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: flex-start;
  padding: 0 5vw;
  }
 
  .prof-info h1{
    align-self: center;
  }

  .nav-bar { 
    grid-area: nav-bar; 
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  .nav-bar a{
    color: white;
    text-decoration: none;
  }

  .posts { 
    grid-area: posts;
  }
  
  .post-card{
    border: solid grey 1px;
    padding: 1vh;
    margin: 1vh 0;
  }

  .card-title{
    margin: 10px 0;
  }

  .card-links{
    display:flex;
    justify-content: space-around;
  }

  .card-links a{
    text-decoration: none;
    color: black;
  }
  