body{
    background-color: aqua;
    font-family: Tahoma, Verdana, sans-serif, 'Segoe UI';
}

.container {  
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". prof-pc prof-info prof-info prof-info ."
      ". posts posts posts posts .";
  }
  
  .prof-pic { 
    grid-area: profile-pic; 
    display: flex;
    align-items: center;
  }
  
  #profile-pic {
    width: 100%;
    height:auto;
  }

  .prof-info {
     grid-area: prof-info;
     display: flex;
     flex-direction:column;
     justify-content:space-around;
     align-items: flex-start;
     padding: 0 5vw;
     }
 
     .prof-info h1{
      align-self: center;
  }

  .posts { 
    grid-area: posts;
    
  }
  
  .nav-bar { 
    grid-area: nav-bar; 
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  .nav-bar a{
    color: white;
    text-decoration: none;
  }

  .container > div{
    border: 2px solid gray
  }
  