body{
    background-color: aqua;
}

.container {  
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". prof-pc prof-info prof-info prof-info ."
      ". posts posts posts posts .";
  }
  
  .prof-pc { grid-area: prof-pc; }
  
  .prof-info { grid-area: prof-info; }
  
  .posts { grid-area: posts; }
  
  .nav-bar { grid-area: nav-bar; }
  